.btn {
    color: #ffffff !important;
    border: none;
    cursor: pointer;
}

.btn-red {
    background: #e8444a;
    color: #ffffff;
    display: inline-block;
    padding: 15px 35px;
    text-transform: uppercase;
    transition-duration: .3s;

    &:hover {
        background: #d03d42;
        transition-duration: .3s;
    }
}