.btn {
    color: #ffffff !important;
    border: none;
    cursor: pointer;
}

.btn-bordered-dark {
    background: none;
    border: 1px solid #ffffff;
    padding: 15px 35px;
    transition-duration: .3s;

    &:hover {
        background: #e8444a;
        border-color: #e8444a;
        transition-duration: .3s;;
    }
}

.btn-red, .checkout-button.button.alt, #place_order {
    background: #e8444a !important;
    border-radius: 0px !important;
    color: #ffffff;
    display: inline-block;
    font-weight: normal !important;
    padding: 15px 35px;
    text-transform: uppercase;
    transition-duration: .3s;

    &:hover {
        background: #d03d42 !important;
        transition-duration: .3s;
    }
}

.actions .button {
    padding: 15px 35px !important;
}

.wc-forward,
.actions .button,
.lrm-form button.full-width.has-padding,
body.woocommerce-edit-address button[type='submit'],
.btn-black {
    background: #000000 !important;
    border-radius: 0px !important;
    color: #ffffff !important;
    font-weight: normal !important;
    padding: 15px 35px !important;
    transition-duration: .3s;

    &:hover {
        background: #333333 !important;
        transition-duration: .3s;
    }
}

.single_add_to_cart_button {
    background: #e8444a !important;
    border-radius: 0px !important;
    color: #ffffff !important;
    display: inline-block !important;
    font-weight: normal !important;
    padding: 15px 35px !important;
    text-transform: uppercase !important;
    transition-duration: .3s !important;

    &:hover {
        background: #d03d42 !important;
        transition-duration: .3s !important;
    }
}