#header-container {
    background: #ffffff;
    padding: 15px 0;
    position: relative;

    ul#menu-main-menu {
        display: inline-block;
        margin: 0;
        position: relative;
    }
}