.justified-center {
    justify-content: center;
}

@include breakpoint(portrait medium only) {
    .woocommerce-MyAccount-navigation {
        margin-bottom: 80px;
    }
}

body {
    background: #171a1c;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;

    p, li, span, label, input, a, textarea, .button, table, input {
        color: #7e7e7e;
        font-family: 'Open Sans', sans-serif !important;
        transition-duration: .3s;
    }

    .lrm-form {
        input {
            border-radius: 0px !important;
        }
    }

    input {
        box-shadow: none !important;
        outline: none !important;
    }

    .fieldset {
        border: none;
    }

    .select2-container--default .select2-selection--single {
        height: auto;
        padding: 5px;

        .select2-selection__arrow {
            top: 5px;
        }
    }

    .lrm-user-modal {
        background: rgba(0, 0, 0, .9)
    }

    a:hover {
        color: #000000;
        transition-duration: .3s;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #000000;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 1.5rem;

        span {
            color: inherit;
            font-family: inherit;
            font-size: inherit;
        }

        a {
            color: inherit !important;
        }
    }

    div.wrap {
        background: #ffffff;
    }

    .page-container {
        padding: $section-padding;
    }

    ul.contact {
        list-style: none;

        li {
            margin-bottom: 30px;
            padding-left: 20px;
            position: relative;

            &:before {
                color: #f9b825;
                content: "\f14a";
                font-family: 'Font Awesome 5 Pro';
                font-size: 24px;
                left: -25px;
                position: absolute;
                top: -5px;
            }

            h6 {
                margin-bottom: 15px;
            }
        }

        li.address:before {
            content: '\f3c5';
        }

        li.phone:before {
            content: '\f095';
        }

        li.email:before {
            content: '\f0e0';
        }
    }

    ul.checklist {
        li {
            list-style: none;
            padding-left: 50px !important;
            position: relative;

            &:before {
                color: #f9b825;
                content: "\f14a";
                font-family: 'FontAwesome';
                font-size: 24px;
                left: 15px;
                position: absolute;
                top: -5px;
            }
        }
    }

    input[type='text'], textarea, input[type='tel'], input[type='email'] {
        border: 1px solid #e1e3e5;
        box-shadow: none;
        padding: 25px;

        &:focus {
            border: 1px solid #e1e3e5;
            box-shadow: none;
        }
    }

    ::-webkit-input-placeholder { 
      color: #7e7e7e;
    }

    :-ms-input-placeholder { 
      color: #7e7e7e;
    }

    ::placeholder {
      color: #7e7e7e;
    }

    .woocommerce-message,
    .woocommerce-info {
        background: url('../images/separator.png') bottom repeat-x scroll transparent;
        border: none;
        padding-bottom: 40px;
    }

    .woocommerce-product-gallery {
        float: none !important;
        width: 100% !important;
    }

    [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
        height: 2.9rem !important;
    }

    .woocommerce table.shop_table {
        border: none !important;
        border-collapse: collapse;

        thead {
            background: #f8f8f8;
            border: none;

            th, td {
                padding: 20px;
            }
        }

        tbody {
            border: none;

            td {
                border: none;
                padding: 20px;
            }
        }

        tfoot {
            border: none;
            
            th, td {
                border: none;
                padding: 20px;
            }
        }

        td.actions {
            padding-left: 0px;
            padding-right: 0px;
        }

        tbody tr:nth-child(even) {
            background: #f8f8f8;
        }

        #coupon_code {
            background: #f2f2f2;
            border: none;
            width: 180px;
        }
    }

    .cart-collaterals .cart_totals {
        h2 {
            font-size: 22px;
        }

        .shop_table.shop_table_responsive {
            td, th {
                border: none;
                padding: 20px 10px;
            }

            th {
                color: #000000;
                font-weight: bold;
            }
        }
    }

    #payment, #stripe-payment-data {
        background: #fafafa !important;
        border-radius: 0px !important;

        .wc_payment_methods.payment_methods.methods {
            border: none !important;
            padding-bottom: 0 !important;
        }

        ul.payment_methods {
            border: none !important;
        }

        .payment_box.payment_method_stripe {
            background: none !important;
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;

            &:before {
                display: none !important;
            }

            .form-row {
                padding: 0 !important;
            }
        }

        .place-order {
            margin-top: 0;
            padding: 1em 2em 1em;

            #place_order {
                border-radius: 0px;
                display: block !important;
                float: none;
                width: 100%;
            }
        }
    }
}

#menu-container {
    padding: $section-padding;

    #menu-list-container {
        margin: 80px 0;

        .product {
            margin-bottom: 30px;
            transition-duration: .3s;

            h5 {
                margin-bottom: 5px;
            }

            span {
                color: #e8444a;
                font-weight: bold;
            }

            p {
                margin-top: 15px;
            }
        }
    }
}