body.page-about {
    #why-choose-us-container {
        margin-top: 80px;

        .checklist {
            margin-top: 80px;

            h6 {
                margin-bottom: 15px;
            }
        }

        @include breakpoint(small medium only) {
            .cell {
                margin-bottom: 40px;
            }
        }
    }
}