body.my-account {
    .woocommerce-MyAccount-navigation {
        ul {
            margin: 0;

            li {
                list-style: none;

                &:last-child a {
                    border-bottom: 1px solid #e5e5e5;
                }

                a {
                    border-top: 1px solid #e5e5e5;
                    display: block;
                    padding: 20px 0;
                    position: relative;

                    i {
                        float: right;
                    }
                }
            }
        }
    }
}