body.page-blog, body.blog {
    .blog-post {
        background: #ffffff;
        box-shadow: 0 0 30px rgba(7, 51, 84, 0.17);
        margin-bottom: 60px;

        @include breakpoint(portrait medium only) {
            img {
                display: block;
                width: 100%;
            }

            .cell {
                width: 100%;
            }
        }
        
        .blog-post-content {
            padding: 60px;

            h4 {
                margin-bottom: 0px;
            }

            .meta, p {
                margin-bottom: 30px;

                span {
                    color: #f9b825;
                }
            }
        }
    }

    #pagination a {
        background: #000000;
        color: #ffffff;
        display: inline-block;
        padding: 15px 35px;
        text-transform: uppercase;
        transition-duration: .3s;

        &:hover {
            background: #333333;
            transition-duration: .3s;
        }
    }
}