body.page-cart {
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
        tr:last-child {
            background: none;
        }
    }

    @include breakpoint(portrait small medium) {
        input[type='number'] {
            float: right;
        }
    }

    .woocommerce-shipping-totals.shipping .woocommerce-shipping-destination,
    .woocommerce-shipping-totals.shipping {
        display: none;
    }
}

@include breakpoint(portrait small) {
    .woocommerce ul.order_details  {
        li {
            float: none;
            border-bottom: 1px dashed #d3ced2;
            border-right: none;
            padding: 15px 0;
        }
    }

    address {
        margin-bottom: 40px !important;
    }
}