body.page-checkout {
    #billing-container {
        margin-bottom: 40px;
    }

    .woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
        background: #f2f2f2;
        border: none;
        box-shadow: none;
    }

    #shipping-container {
        #order_comments {
            height: 200px !important;
            resize: none !important;
        }
    }

    .form-row {
        margin-bottom: 15px;

        label {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }

    .select2-container--default .select2-selection--single {
        height: auto;
        padding: 5px;

        .select2-selection__arrow {
            top: 5px;
        }
    }

    #order_review {
        .shop_table.woocommerce-checkout-review-order-table {
            border: none !important;
            border-collapse: collapse;
            margin-bottom: 80px;

            tbody, thead, td, th, tfoot {
                border: none;
            }

            thead tr, tfoot tr {
                background: #f8f8f8;
            }
        }
    }

    #payment {
        background: #fafafa;
        border-radius: 0px;

        .wc_payment_methods.payment_methods.methods {
            border: none;
            padding-bottom: 0;
        }

        .payment_box.payment_method_stripe {
            background: none;
            margin-bottom: 0;
            padding-bottom: 0;

            &:before {
                display: none;
            }

            .form-row {
                padding: 0;
            }
        }

        .place-order {
            margin-top: 0;
            padding: 1em 2em 1em;

            #place_order {
                border-radius: 0px;
                display: block !important;
                float: none;
                width: 100%;
            }
        }
    }
}