body.page-checkout {
    #billing-container {
        margin-bottom: 40px;
    }

    .woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
        background: #f2f2f2;
        border: none;
        box-shadow: none;
    }

    #shipping-container {
        #order_comments {
            height: 200px !important;
            resize: none !important;
        }
    }

    .form-row {
        margin-bottom: 15px;

        label {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }

    #order_review {
        .shop_table.woocommerce-checkout-review-order-table {
            border: none !important;
            border-collapse: collapse;
            margin-bottom: 80px;

            tbody, thead, td, th, tfoot {
                border: none;
            }

            thead tr, tfoot tr {
                background: #f8f8f8;
            }
        }
    }

    #ship-to-different-address {
        span {
            font-size: 16px;
        }
    }
}